
@function toRem($px) {
    @return 64px * $px / 75px / 32px * 1rem;
  }
  
  
  html, body, div, span, header, section, div, p, ul, li, dl, dd, a, input, i, textarea {
    margin:0;
    padding:0;
    list-style:none;
    border:0;
    font-style:normal;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  }
  em, dfn {
    font-style:normal
  }
  html {
    height: 100%;
  }
  
  body {
      font-family:Microsoft Yahei, sans-serif;
      line-height: 1.5;
      font-size: 12px;
      color: #444;
      user-select: none;
      text-size-adjust: 100%;
      width: 100%;
      overflow-x: hidden;
      background:#f3f3f3;
      height:100%;
      
  
  }
  
  @media only screen and (width: 375px) and (height: 812px){
      body {
        padding-top: constant(safe-area-inset-top);
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        padding-bottom: constant(safe-area-inset-bottom);
      }
  }
  
  a {
    color:#444;
    text-decoration:none
  }
  
  .money {
    font-family:"Arial", self-serif;
    font-style:normal
  }
  
  .mr-20 {
    margin-right:toRem(20px)
  }
  
  .save-btn {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #f5328b;
    text-align: center;
    line-height: 2.66667rem;
    font-size: 0.96rem;
    color: #fff;
    z-index: 999;
    left:0
  }
  
  
  .fade-enter-active {
    animation-name: fold-in;
    animation-duration: .25s;
    -webkit-animation-name: fold-in;
    -webkit-animation-duration: .25s;
  }
  .fade-leave-active {
    animation-name: fold-out;
    animation-duration: .25s;
    -webkit-animation-name: fold-out;
    -webkit-animation-duration: .25s;
  }
  @keyframes fold-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes fold-out {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fold-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fold-out {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }